body{
    background-color: black;
    background-image: "fondo_gde.jpg";
}

@media (orientation: portrait) and (max-width: 767px) 
{
    body{
        background-color: black;
        background-image: "fondo-angos.jpg";
    }
}