body{
    background-color: black;
    background-image: url("fondo_gde.jpg");
    background-size: cover;
}

@media (orientation: portrait) and (max-width: 767px) 
{
    body{
        background-image: url("fondo-angos.jpg");
        background-size: cover;
        background-color: black;
    }
}